*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #012a4a;
    max-height: 100vh;
}
.card{
    color: whitesmoke;
    padding: 40px 35px;
    margin-left: auto;
    margin: 70px auto 15px;
    text-align: center;
    background: linear-gradient(130deg, #2c7da0,#61a5c2);
    max-width: 450px;
    width: 90%;
    max-height: 550px;
    border-radius: 25px;
    display:block;
}

.card h1{
    font-weight: 700;
    font-size: 40px ;
    margin-bottom: 45px;
}
.input-box{
        background: #01497c;
        opacity: 0.7;
        border-radius: 20px;
        width: 85%;
        margin: 30px auto;
        height: 45px;
}
.input-box input{
    height: 45px;
    font-size: 17px;
    border: 0;
    outline: 0;
    background: transparent;
    width: 80%;
    font-size: 20px;
    color: white;
}

.input-box i{
    position: absolute;
    font-size: 25px;
    transform: translateY(40%);
}

.remember-forget{
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    margin: 45px 0 15px;
}
.remember-forget label input{
    accent-color: whitesmoke;
    margin-right: 3px;
}
.remember-forget a{
    color: white;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
    color:#012a4a
}

.login{
    border: 0;
    outline: 0;
    height: 40px;
    border-radius: 20px;
    padding: 7px 20px;
    background: #a9d6e5;
    color: whitesmoke;
    font-weight: 700;
    margin: 10px auto;
    cursor: pointer;
    width: 40%;
    font-size: 17px;

}
.register-link{
    margin-top:15px;
}
.register-link a{
    text-decoration: none;
    color: whitesmoke;
}
.register-link a:hover{
    text-decoration: underline;
    color: #012a4a;
}
